/* 本作品采用 CC BY-NC-ND 3.0 CN 许可协议进行许可。要查看该许可协议，可访问 <http://creativecommons.org/licenses/by-nc-nd/3.0/cn/> 。*/

body{
    max-width: 500px;
    margin: 0 auto;
    background-color: darkslategray;
    color: aliceblue;
}

nav{
    font-size: 95%;
}

footer{
    text-align: center;
    font-size: 90%;
}

a{
    text-decoration-line: none;
    color: deepskyblue;
}

.righta{
    text-align: right;
}
